body {
  text-align: center;
  box-sizing: border-box;
  background-color: teal;
  color: #fff;
}
/*cambiando color de placeholder*/
::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: #fff!important;
}
:-moz-placeholder {
    /* Firefox anterior a 19 */
    color: #fff!important;
}
::-moz-placeholder {
    /* Firefox 19 y superior */
    color: #fff!important;
}
:-ms-input-placeholder {
    /* Internet Explorer 10 y superior */
    color: #fff!important;
}
#encuentrame,
#trazar-ruta {
  margin-top: 2em;
  font-weight: bolder;
  color: teal;
  background-color: #fff;
  border: 2px solid teal;
}

.form-group {
  text-align: justify;
  margin-top: 0.8em;
}
.form-control {
  background-color: teal;
  border: 2px solid #fff;
  color: #fff;
}
.form-control:focus {
  box-shadow: none;
  outline: 0;
  border: 2px solid #fff;
}
#destino,
#origen {
  background-color: #fff;
  color: teal;
  border: none;
}

.mapa {
  padding: 0;
}
#map {
  width: 100%;
  height: 90vh;
}

@media (max-width: 970px) {
  #encuentrame,
  #trazar-ruta {
    margin-left: 0;
  }
  #trazar-ruta {
    margin-bottom: 4em;
  }
}

